:root {
  --base: #000000;
  --purple: #9945FF;
  --lightPurple: #bd84e0;
  --green: #14F195;
}

@font-face {
  font-family: 'space';
  src: url(./metadata/fonts/SpaceMono-Regular.ttf);
}
* {
  font-family: 'space';
}
@font-face {
  font-family: 'Jet';
  src: url(./metadata/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

/* let page take full heigh of viewport excess */
html {height: 100%;} body {position: absolute; top:0; bottom:0; right:0; left:0;}

body {
  background-color: var(--base);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.blob-container {
  position: absolute; /* Allows absolute positioning for the gradient */
  width: 100%;
  height: 100%;
  overflow: hidden; /* Clip overflowing content */
  opacity: 99%;
}

main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 306px;
  height: 398px;
  padding: 0;
  border-radius: 6px;
  background: -moz-linear-gradient(180deg, rgba(2,0,36,0.3) 0%, rgba(184,124,221,0.3) 0%, rgba(20,241,149,0.3) 100%);
  background: -webkit-linear-gradient(180deg, rgba(2,0,36,0.3) 0%, rgba(184,124,221,0.3) 0%, rgba(20,241,149,0.3) 100%);
  background: linear-gradient(180deg, rgba(2,0,36,0.3) 0%, rgba(184,124,221,0.3) 0%, rgba(20,241,149,0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#14f195",GradientType=1);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.0),
                    0 22px 70px 4px rgba(0,0,0,0.5),
                    0 0 0 1px rgba(0, 0, 0, 0.0);
}
.bento-box {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 0px;
  width: 100%;
  height: 100%;
}

.main-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  bottom: 0;
  margin-left: 24px;
  margin-bottom: 24px;
}
.action-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
#tickerText {
  position: absolute;
  margin-top: 156px;
  margin-left: 4px;
  display: block;
  width: 152px;
  height: 152px;
}
#pfp {
  width: 152px;
  height: 152px;
  margin-top: 24px;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.77);
}
#pfp:hover {
  background-color: rgba(255, 255, 255, 1.0);
}
#chart-button {
  background-color: rgba(189, 132, 224, 0.8);
  border: none;
  border-radius: 6px;
  border: 2px solid var(--lightPurple);
  color: white;
  cursor: pointer;
  width: 74px;
  height: 29px;
  font-size: 16px;
  font-family: 'Jet';
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#chart-button:hover {
  background-color: rgba(189, 132, 224, 1.0);
}
#buy-button {
  background-color: rgba(20, 241, 149, 0.8);
  border: none;
  border-radius: 6px;
  border: 2px solid var(--green);
  color: var(--base);
  cursor: pointer;
  width: 54px;
  height: 29px;
  font-size: 16px;
  font-family: 'Jet';
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#buy-button:hover {
  background-color: rgba(20, 241, 149, 1.0);
}

.socials {
  position: absolute;
  top: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#griditem-2 {
  cursor: pointer;
  width: 69px;
  height: 69px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 6px;
}
#tgIcon {
  width: 100%;
  height: 100%;
}
#griditem-2:hover {
  background-color: rgba(255, 255, 255, 1.0);
  opacity: 1.0;
}

#griditem-3 {
  cursor: pointer;
  width: 69px;
  height: 69px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 6px;
}
#twitterIcon {
  width: 100%;
  height: 100%;
}
#griditem-3:hover {
  background-color: rgba(255, 255, 255, 1.0);
  opacity: 1.0;
}

.contract-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 2;
  grid-column: span 2;
  width: 60px;
  padding: 12px;
  height: calc(100% - 218px);
  bottom: 0;
  right: 0;
  margin-bottom: 24px;
  margin-right: 24px;
}
#contract {
  position: absolute;
  word-break: break-all;
  writing-mode: vertical-lr;
  text-orientation:upright;
  border: none;
  top: 0;
  height: 154px;
  width: 80px;
  border-radius: 6px;
  padding-top: 4px;
  font-size: 10px;
  color: var(--base);
  background-color: rgba(255, 255, 255, 0.77);
}
#contract:hover {
  background-color: rgba(255, 255, 255, 1.0);
}
#contract:active {
  background-color: rgba(255, 255, 255, 0.77);
}
#copy-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80px;
  height: 24px;
  position: absolute;
  bottom: 0;
  border: none;
  border-radius: 6px;
  font-size: 11px;
  font-family: 'Jet';
  font-weight: 500;
  color: var(--base);
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.8);
}
#copy-button:hover {
  background-color: rgba(255, 255, 255, 1.0);
}
#copy-button:active {
  background-color: rgba(255, 255, 255, 0.8);
}


/*-------------------------
  Lines Background
-------------------------*/

#lines {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}

#lines span {
  font-family: 'space';
  font-weight: 500;
  font-size: 24px;
  display: inline-block;
  word-break: break-all;
}

.scroll-lr {
  color: var(--green);
}
.scroll-rl {
  color: var(--lightPurple);
}
@media screen and (max-width: 659px) {
  #lines {
    gap: 16px;
  }
  #lines span {
    font-size: 16px;
  }
}